.container-header {
    display: flex;
    background-color: var(--ct-color-bg-tertiary);
    color: var(--ct-color-bg-primary);
    height: 70px;
    align-items: center;
    padding: 0 20px;
}

.container-header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-header h1 {
    font-size: 20px;
}